<a href="https://colab.research.google.com/github/subratamondal1/Python/blob/main/Python_Test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# import libraries
import numpy as np
import pandas as pd

## 1. How to create an empty pandas Dataset , with column names as “A” , “B” , “C” .

In [5]:
empty_df = pd.DataFrame(columns=["A","B","C"])
empty_df.head()

Empty DataFrame
Columns: [A, B, C]
Index: []

## 2. In a Dataset named df, suppose there are 20 columns and 50 rows . How to extract columns present at eighth position and fourteenth position .

In [10]:
np.random.seed(444)
df = pd.DataFrame(np.random.randint(0, 100, size=(50, 20)))
df.iloc[8,14]

90

## 3. For a dataset df, write a single line code that returns the sum of values, for first 20 columns of all the rows .

In [17]:
df = pd.DataFrame(np.random.randint(10,12,(40,40)))
df.iloc[:,:20].sum()

0     418
1     422
2     417
3     418
4     421
5     419
6     424
7     421
8     417
9     424
10    423
11    420
12    418
13    422
14    419
15    422
16    419
17    415
18    418
19    422
dtype: int64

## 4. We have two different datasets – df1 & df2. Both of them have 35 columns each , and the names of the columns are also same .We need to combine these datasets by horizontally stacking it , write a code for doing this.

In [23]:
df1 = pd.DataFrame(np.random.randint(10,15,(4,35)))
df2 = pd.DataFrame(np.random.randint(10,15,(4,35)))

df1.shape, df2.shape

((4, 35), (4, 35))

In [26]:
# horizontally
df1_df2 = pd.concat([df1,df2],axis=1)
df1_df2.shape

(4, 70)

In [27]:
# vertically
df1_df2 = pd.concat([df1,df2],axis=0)
df1_df2.shape

(8, 35)

## 5. For a dataset df, we need to drop two columns named “A” and “F”. Write a single line code for this.

In [31]:
# create df
df = pd.DataFrame(columns=["A","B","C","D","E","F"])
df.loc[0] = [1,2,3,4,5,6]
df.loc[1] = [1,2,3,4,5,6]
df.loc[2] = [1,2,3,4,5,6]
df.loc[3] = [1,2,3,4,5,6]
df.head()

   A  B  C  D  E  F
0  1  2  3  4  5  6
1  1  2  3  4  5  6
2  1  2  3  4  5  6
3  1  2  3  4  5  6

In [32]:
# drop df
df.drop(["A","F"],axis=1,inplace=True)
df.head()

   B  C  D  E
0  2  3  4  5
1  2  3  4  5
2  2  3  4  5
3  2  3  4  5

## 6. Using numpy, create an array of seven random integers from -25 to 45.

In [37]:
arr = np.random.randint(-25,45,size=7)
arr

array([  0, -16,  -5,  44,  22,  39,  24])

## 7. Suppose we have a list a = [4,9,7,14,54,33,67,42]. Create a new list b which contains, all the odd elements of list a, multiplied by seven . (Using single line of code)

In [38]:
a = [4,9,7,14,54,33,67,42]
b = [x*7 for x in a if x%2==1]
b

[63, 49, 231, 469]

## 8. We have a string S = “I LOVE PYTHON LANGUAGE”. Write a code to convert this string to lower case.

In [44]:
S = "I LOVE PYTHON LANGUAGE"
s = S.lower()
print(s)

i love python language

In [47]:
# or
def convert_to_lower(S:str)-> str:
  string = ""
  for i in S:
    string += i.lower()
  return string

print(convert_to_lower(S))

i love python language

## 9. Suppose we are working on a dataset df in out python notebook. How to write this dataset in csv format with the name “my_dataframe”. Also, we do not want the index column in our dataset.

In [48]:
df.to_csv("my_dataframe.csv", index=False)

## 10. We have two columns X (input column) and Y (output column) of an dataset (df).We need to split the dataset into training and testing data. Write a code to split this into 25% test size. (Use sklearn package)

In [52]:
df = pd.DataFrame(np.random.randint(10,15,(100,7)))
print(df.shape)
# X
X = df.iloc[:,:-1]
y = df.iloc[:,-1]
X.shape,y.shape

(100, 7)

((100, 6), (100,))

In [53]:
# import sklearn package
import sklearn
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.25)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((75, 6), (25, 6), (75,), (25,))