# Strings

In [13]:
name:str = "subrata"
n:int = len(name)
temp:int = 0
while temp < len(name):
    print(name[temp], end="")
    temp+=1

subrata

In [20]:
for i in name:
    print(i, end="")

print()

for i in range(len(name)):
    print(name[i], end="")

subrata
subrata

## Slicing

```python
slicing[start, end, step]
# start => inclusive
# end => exclusive
```

* If the **step** is **positive** then slicing is in **forward direction** and `start < end` else it will return nothing.
* If the **step** is **negative** then slicing is in **backward direction** and `start > end` else it will return nothing.

In [28]:
name = "subrata"
print(name[0:4:-1]) # negative direction & start < end but it should have been start > end
print(name[4:0:-1]) # negative direction & start > end
print(name[0:4:+1]) # forward direction & start < end

arbu
subr

In [25]:
name = "subrata"
print(name[::])

subrata

In [21]:
name = "subrata"
print(name[::-1])

atarbus

In [46]:
name="Subrata"
print(name[0:])
print(name[:len(name)])
print(name[:])
print(name[::-1])

Subrata
Subrata
Subrata
atarbuS

## Palindrome

In [49]:
s = input("Enter one word string")
if s[::-1] == s:
    print("Palindrome")
else:
    print("Not Palindrome")

Palindrome

## Comparison

In [29]:
"s" > "S"

True

In [30]:
"a" > "A"

True

In [31]:
"Subrata" > "Mondal"

True

In [32]:
"Subrata" > "mondal"

False

In [33]:
"subrata" > "mondal"

True

## `strip`
* remove spaces from both left and right

In [35]:
" subrata mondal ".strip()

'subrata mondal'

### `lstrp`
* remove space from left side of the string

In [39]:
" subrata mondal ".lstrip()

'subrata mondal '

### `rstrip`
* remove space from the right side of the string

In [40]:
" subrata mondal ".rstrip()

' subrata mondal'

## substring

In [43]:
"Sub" in "Subrata"

True

In [44]:
"a" in "Subrata"

True

## `split`
* splits the string and returns a list

In [100]:
"16/03/2024".split(sep="/")

['16', '03', '2024']

In [101]:
"16:03:2024".split(sep=":")

['16', '03', '2024']

In [52]:
"I am Subrata Mondal".split() # default separator is space

['I', 'am', 'Subrata', 'Mondal']

In [57]:
"I am Subrata Mondal".split(sep=" ")

['I', 'am', 'Subrata', 'Mondal']

In [62]:
"I am Subrata Mondal".split(sep="S") # separator is not returned

['I am ', 'ubrata Mondal']

In [63]:
"I am Subrata Mondal".split(sep="Mondal") # separator is not returned

['I am Subrata ', '']

In [64]:
"I am Subrata Mondal".split(sep="Subrata") # separator is not returned

['I am ', ' Mondal']

In [55]:
"I am Subrata Mondal".split(sep="=>") # returns whole string as list if no 'separator' found

['I am Subrata Mondal']

In [61]:
"I am Subrata Mondal".split(sep="  ") # returns whole string as list if no 'separator' found

['I am Subrata Mondal']

In [59]:
"I am Subrata Mondal".split(sep="") # separator can't be empty

ValueError: empty separator

## `splitlines`

In [65]:
"""Name: Subrata Mondal
Age: 24
City:Kolkata
""".splitlines()

['Name: Subrata Mondal', 'Age: 24', 'City:Kolkata']

## `join`
* Joins an iterable for e.g. string, list, tuples, sets (order is not maintained)

In [69]:
"".join(['Name: Subrata Mondal', 'Age: 24', 'City:Kolkata'])

'Name: Subrata MondalAge: 24City:Kolkata'

In [71]:
" ".join(['Name: Subrata Mondal', 'Age: 24', 'City:Kolkata'])

'Name: Subrata Mondal Age: 24 City:Kolkata'

In [76]:
"".join("Subrata")

'Subrata'

In [75]:
" ".join("Subrata")

'S u b r a t a'

In [72]:
"".join("I am Subrata Mondal")

'I am Subrata Mondal'

In [74]:
"-".join("I am Subrata Mondal")

'I- -a-m- -S-u-b-r-a-t-a- -M-o-n-d-a-l'

In [73]:
" ".join("I am Subrata Mondal")

'I   a m   S u b r a t a   M o n d a l'

## `find` & `index`
* **find** returns the first occurence of a substring's index else returns `-1`
* **index** returns the first occurence of a substring's index else returns `ValueError`

In [79]:
"abcabc".find("b")

1

In [89]:
"abcabc".index("b")

1

In [80]:
"I am Subrata Mondal".find("@")

-1

In [90]:
"I am Subrata Mondal".index("@")

ValueError: substring not found

In [84]:
"subrata@gmail.com".find("@")

7

In [85]:
"subrata@gmail.com"[:"subrata@gmail.com".find("@")]

'subrata'

In [87]:
"subrata@gmail.com"["subrata@gmail.com".find("@"):]

'@gmail.com'

## `replace`
```python
.replace(old, new)
```

In [93]:
"Subrata mondal".replace("m","M")

'Subrata Mondal'

In [94]:
"Subrata mondal".replace("mondal","Mondal")

'Subrata Mondal'

In [98]:
"Subrata mondal".replace("K","A") # returns the same string if old string is not present

'Subrata mondal'

## Print even length words in string

In [103]:
s = "i am subrata mondal, studying python"
for word in s.split():
    if len(word)%2 == 0:
        print(len(word), word)

2 am
8 studying
6 python

## Reverse each word in string

In [109]:
# ❌
for word in "I am Subrata Mondal":
    print(word[::-1], end=" ")

I   a m   S u b r a t a   M o n d a l

In [110]:
# ✅
for word in "Ok am Subrata Mondal".split():
    print(word[::-1], end=" ")

kO ma atarbuS ladnoM

## `isalphanumeric`
* returns `True` is the string contains either alphabets or digits.

In [111]:
"subrata".isalnum()

True

In [112]:
"subrata1".isalnum()

True

In [113]:
"subrata1@".isalnum()

False

## `isalphabet`
* returns `True` if the string contains alphabets.

In [114]:
"Subrata".isalpha()

True

In [115]:
"Subrata1".isalpha()

False

## `isdigit`
* returns `True` if the string contains any digit.

In [116]:
"234".isdigit()

True

In [117]:
"234subrata".isdigit()

False

## `islower`
* returns `True` if all the characters are lower

In [119]:
"subrata".islower()

True

In [120]:
"Subrata".islower()

False

In [121]:
"12ubrata".islower()

True