# Python Fundamentals

## Introduction

- In Python, everything is an **object**, and each object is an instance of a class. This means that even basic data types like integers, strings, and lists are objects, and they have attributes and methods associated with them. For example, a string object has methods like `upper()` and `split()`, which allow you to manipulate the string.

In [23]:
name = "subrata mondal"
print(type(name))

<class 'str'>

In [26]:
print(name.capitalize())
print(name.upper())
print(name.split())

Subrata mondal
SUBRATA MONDAL
['subrata', 'mondal']

- **Identifier/Variable** ➾ **Memory Address** where the **Value** is stored.

- When you create a variable and assign a value to it, Python creates an object of the appropriate type and stores the value in the Memory. The variable then points to that Memory Address, allowing you to access the value stored in there. 

    ```python
    name = "subrata mondal"
    # behind the scenes
    name = str(object="subrata mondal")
    ```

- **Memory Address** ➾ `id()`

In [34]:
name = "subrata mondal"
print(f"Memory Address of the identifier - 'name': {id(name)}")

Memory Address of the identifier - 'name': 4553886832

### Immutable Datatypes

Immutable datatypes are those datatypes whose values cannot be changed after they are created. Still if you try to modify an immutable object, Python creates a new object in the memory and store the new value in it then a new variable with the same name refers to the newly created memory address instead of the original one.

In [45]:
print("<== Immutable Datatype | Different Memory Address ==>\n")

name = "subrata"
print("Value:", name)
print("Memory Address:",id(name))

name = "mondal"
print("\nValue:", name)
print("Memory Address:",id(name))

<== Immutable Datatype | Different Memory Address ==>

Value: subrata
Memory Address: 4554131248

Value: mondal
Memory Address: 4552215152

### Mutable Datatypes

Mutable datatypes are those datatypes whose values can be changed after they are created. Therefore, if you try to modify a mutable object, Python modifies the value at the same memory address only.

In [46]:
print("<== Mutable Datatype | Same Memory Address ==>\n")

name:list[str] = ["subrata"]
print("Value:", name)
print("Memory Address:",id(name))

name.append("mondal")
print("\nValue:", name)
print("Memory Address:",id(name))

<== Mutable Datatype | Same Memory Address ==>

Value: ['subrata']
Memory Address: 4554652992

Value: ['subrata', 'mondal']
Memory Address: 4554652992

### is vs == operators
The `is` operator in Python is used to test if two variables refer to the same object in memory, it checks for the **object identity** and not just the equality of values.

1. **For Immutable Objects**: If you assign an immutable object (like a number, string, or tuple) to two different variables, and the values are the same, then Python will create only one object and both variables will refer to that same object in memory.

In [47]:
a = 10
b = 10
print("'a' and 'b' refers to the same object in memory:",a is b, id(a), id(b))

c = "hello"
d = "hello"
print("'a' and 'b' refers to the same object in memory:",c is d, id(c), id(d))

'a' and 'b' refers to the same object in memory: True 4517039816 4517039816
'a' and 'b' refers to the same object in memory: True 4545130224 4545130224

2. **For Mutable Objects**: When you assign a mutable object (like a list or dictionary) to a variable, Python creates a new object in memory every time, even if the values are the same.

In [49]:
from typing import Any

a:list[int] = [1, 2, 3]
b:list[int] = [1, 2, 3]
print("'a' and 'b' refers to the same object in memory:",a is b, id(a), id(b))

c:dict[str, Any] = {"name": "Alice", "age": 25}
d: dict[str, Any] = {"name": "Alice", "age": 25}
print("'a' and 'b' refers to the same object in memory:",c is d, id(c), id(d))  # Output: False

'a' and 'b' refers to the same object in memory: False 4553898752 4554378240
'a' and 'b' refers to the same object in memory: False 4553667328 4551785536

### Short Circuit


The logical operators `and` and `or` are short-circuiting operators, which means that they evaluate the operands from **left to right** and stop as soon as the result can be determined i.e  the logical operators in Python don't simply evaluate both the operands and then combine the results.


> - **`1st operand and 2nd operand`** ⇒ returns **`1st operand`** iff 1st operand is **`False`** else return the 2nd operand

In [62]:
print(False and "subrata") # False since False and anything is False
print(False and "mondal") # False since False and anything is False

print(True and "subrata") # subrata
print(True and "mondal") # mondal

print(True and 0) 
print(False and 0)

False
False
subrata
mondal
0
False

> - **`1st operand or 2nd operand`**  ⇒ returns **`1st operand`** iff 1st operand is **`True`** else return the 2nd operand

In [61]:
print("subrata" or False)
print("mondal" or False)

print(False or "subrata")
print(False or "mondal")

print(True or 0)
print(False or 0)

subrata
mondal
subrata
mondal
True
0

### Ternary operator

**`first_value if (condition==true) else second_value`**

In [63]:
age = 15
age_group:str = "adult" if age > 18 else "teen"
print(age_group)

teen

In [64]:
# chaining of ternary operator
age_group:str = "adult" if age > 18 else ("teen" if age > 13 else "minor")
print(age_group)

teen

# Python Data Structures

## Strings

***String*** is a sequence of characters enclosed in either single quotes `(' ')`, double quotes `(" ")` or triple quotes `(""" """)`. Strings are used to represent text data and are one of the most commonly used data types in Python.

- **Strings:** ***Ordered Immutable Iterable Sequence*** and since Immutable we can't mutate them and if reassign the same identifier then their `Memory adress changes`.
- Since, Strings are `Ordered` therefore, `Indexable` and hence `Sliceable`.
- Common **`sequence`** operations are: **concatenation, repetition,** and **membership testing**.

In [65]:
"""Immutability"""
name = "Subrata"
print(id(name))

name = "Subrata Mondal"
print(id(name))

4554375792
4554382448

In [66]:
"""Concatenation"""
"Subrata" + " Mondal"

'Subrata Mondal'

In [67]:
"""Repetition"""
"Subrata" * 3

'SubrataSubrataSubrata'

In [68]:
"""Membership Testing"""
"b" in "Bombay"

True

In [71]:
"""Iterable"""
for character in "Python":
    print(character.upper(), end=" ")

P Y T H O N

In [77]:
"""Sliceable"""
language:str = "Python"
language[:4]

'Pyth'

* Strings are **Sliceable**.

    `[start:end:step]`

    1. Forward Direction or Left to Right
        * Step is Positive
        * Start <= End

    2. Backward Direction or Right to Left
        * Step is Negative
        * Start >= End

In [85]:
domain = "Machine Learning"

"""Positive"""
print(domain[0:12:2])

"""Negative"""
print(domain[12:4:-2])

McieLa
naLe

### Membership Operator `in`

In [86]:
print("S" in "Subrata")
print("s" in "Subrata")

True
False

In [87]:
print("Sub" in "Subrata")
print("sub" in "Subrata")

True
False

### Substring

In [89]:
string = "Hey, I'm doing well. What about you?"
substring = "you"

if substring in string:
    print("Yes! A Substring")
else:
    print("No! Not a Substring")

Yes! A Substring

### Palindrome

In [90]:
user_input = "tenet"
if user_input[::-1] == user_input:
    print("Yes! A Palindrome")
else:
    print("No! Not a Palindrome")

Yes! A Palindrome

### Comparison

In [91]:
print("s" > "S")
print("S" > "s")

True
False

In [92]:
print("subr" > "subR")
print("subR" > "subr")

True
False

### Rstrip
Remove spaces from the Right

In [93]:
"    Subrata    ".rstrip()

'    Subrata'

### Lstrip
Remove spaces from the Left

In [94]:
"    Subrata    ".lstrip()

'Subrata    '

### Strip
Remove spaces from both the sides of the string.

In [96]:
"    Subrata    ".strip()

'Subrata'

### Split
Splits the string based on the separator and returns a `list`.

In [98]:
"Subrata".split()

['Subrata']

In [100]:
"13/05/2024".split(sep="/")

['13', '05', '2024']

### Join
Joins a list of string to a String.

In [101]:
"".join(["S", "u", "b", "r", "a", "t", "a"])

'Subrata'

### Find
Returns the `index` of the substring if found in the string else it returns `-1`.

In [102]:
"Subrata".find("a")

4

### Index
Returns the `index` of the substring if found in the string else it throws an `Error`.

In [103]:
"Subrata".index("a")

4

### Count
Returns the `frequency` of a substring in a string if present else returns `0`

In [104]:
"Subrata".count("a")

2

### Replace
Replaces old string with new string.

In [107]:
"Subrata mondal".replace("m", "Ⓜ️")

'Subrata Ⓜ️ondal'

### isalpha
Do the string contains all `Alphabets`

In [108]:
print("Subrata".isalpha())

print("Subrata123".isalpha())

True
False

### isalnum
Do the string contains both `Alphabet or Numeric` or not.

In [109]:
print("Subrata".isalnum())

print("1234".isalnum())

print("Subrata123".isalnum())

print("@#$".isalnum())

True
True
True
False

### isdigit
Do the string contains digits only.

In [111]:
print("1234".isdigit())

print("Subrata123".isdigit())

True
False

### islower
Do the string has all small letters.

In [117]:
print("Subrata".islower())

print("subrata".islower())

False
True

### isupper
Do the string has all uppercase letters.

In [113]:
print("Subrata".isupper())

print("SUBRATA".isupper())

False
True

## List/Array

**Lists**: **Ordered Mutable Iterable Sequence** of elements enclosed in square brackets `[ ]`.

- Lists are mutable since on mutating the list the `memory address` remains the same.
- Allows **Duplicate** and **Heterogenous** Elements.
- Since, Strings are `Ordered` therefore, `Indexable` and hence `Sliceable`.
- Common **`sequence`** operations are: **concatenation, repetition,** and **membership testing**.

In [116]:
"""Mmutability"""
name = ["Subrata"]
print(name, id(name))

name.append("Mondal")
print(name,id( name))

['Subrata'] 4555494592
['Subrata', 'Mondal'] 4555494592

In [118]:
"""Concatenation"""

counter = [3,4,4,5]
print(counter+counter)

[3, 4, 4, 5, 3, 4, 4, 5]

In [120]:
"""Repetition"""

counter = [3,4,4,5]
print(counter*3)

[3, 4, 4, 5, 3, 4, 4, 5, 3, 4, 4, 5]

In [121]:
"""Membership Testing"""

counter = [3,4,4,5]
print(5 in counter)
print(555 in counter)

True
False

### Append
Insert element at the last index of the list.

In [124]:
l = [1,2,3,4,5,"B"]
l.append(10)
l

[1, 2, 3, 4, 5, 'B', 10]

In [125]:
l.append("A")
l

[1, 2, 3, 4, 5, 'B', 10, 'A']

### Insert
Insert element in the index at the given position/index.

In [126]:
l = [1,2,3,4,5,"A"]
l.insert(2, "Subrata")
l

[1, 2, 'Subrata', 3, 4, 5, 'A']

### Remove
Remove the element from the list, if multiple duplicate elements then removes the first occurence.

In [128]:
l = [1,2,3,4,5,3,4,6]
l.remove(3)
l

[1, 2, 4, 5, 3, 4, 6]

### Pop
Remove and return the last element from a list.

In [127]:
l = [1,2,3,4,5]
l.pop()

5

### Index
Returns the index of an element if present else throws an `Error`

In [129]:
l.index(999)

ValueError: 999 is not in list

### Membership `in`

In [130]:
5 in [1,2,3,4,3,5]

True

### Reverse
Reverses the elements in the list.

In [131]:
l  = [1,2,3,4,3,5]
l.reverse()
l

[5, 3, 4, 3, 2, 1]

### Sort
Sort the element in a list.

In [132]:
l = [3,1,2,4,5]
l.sort()
l

[1, 2, 3, 4, 5]

In [133]:
l.sort(reverse=True)
l

[5, 4, 3, 2, 1]

### List Comprehension

In [134]:
[i for i in range(1,10) if i%2 == 0]

[2, 4, 6, 8]

In [135]:
[[j for j in range(6)] for i in range(2)]

[[0, 1, 2, 3, 4, 5], [0, 1, 2, 3, 4, 5]]

### Aliasing
Change in X causes change in Y. To avoid that we create a new object with the same content.

In [136]:
x = [10, 20, 30, 40]
print(id(x))

y = x
print(id(y))

4554809088
4554809088

In [137]:
"""Change in X causes change in Y"""
x.append(77)

print(x, id(x))
print(y, id(y))

[10, 20, 30, 40, 77] 4554809088
[10, 20, 30, 40, 77] 4554809088

In [138]:
"""create a new object with the same content"""
x = [10, 20, 30, 40, 50]
y = x[:]

x.append(77)

print(x, id(x))
print(y, id(y))

[10, 20, 30, 40, 50, 77] 4554124672
[10, 20, 30, 40, 50] 4555267776

## Tuples

**Tuples (read-only lists)**: **Ordered Immutable Iterable Sequence** of elements enclosed in parenthesis `( )`.

> Tuples are Lists but Immutable.

- Tuples Immutable we can't mutate them and if reassign the same identifier then their `Memory adress changes`.
- Since, Tuples are `Ordered` therefore, `Indexable` and hence `Sliceable`.
- Common **`sequence`** operations are: **concatenation, repetition,** and **membership testing**.
- Tuples allow Python functions two return more than one output.
- Allows **Duplicate** and **Heterogenous** Elements.
- Comprehension concept like List Comprehension doesn't work in tuples.

In [139]:
"""Tuples are Immutable"""
numbers = (2,3,4,5)
numbers[0] = 999

TypeError: 'tuple' object does not support item assignment

In [140]:
"""Tuples are Immutable: Memory Address Changes on Reassigning Identifier"""
numbers = (2,3,4,5)
print(id(numbers))

numbers = (3,4,5,6)
print(id(numbers))

4557182976
4555432528

### Packing and Unpacking

In [142]:
"""Packing"""
a = 10
b = "A"
c = 30
d = 33.8
t = a,b,c,d
print(t)
print(type(t))

(10, 'A', 30, 33.8)
<class 'tuple'>